<div>
    
    <h1> {{ title }}</h1>

</div>

    <div style="margin-bottom: 20px;">
            <button 
            pButton type="button"  
            icon="pi pi-check"
            label="Start"
            style="font-size: larger;"
            (click)="Start()" >
            </button>
    </div>


    <div style="margin-bottom: 20px;">
            <button 
            pButton type="button"  
            icon="pi pi-check"
            label="Stop"
            style="font-size: larger;"
            (click)="Stop()" >
            </button>
    </div>

    <div style="margin-bottom: 20px;">
            <button 
            pButton type="button"  
            icon="pi pi-check"
            label="Change Direction"
            style="font-size: larger;"
            (click)="ChangeDirection()" >
            </button>
    </div>
