<div>
    
    <h1> {{ title }}</h1>

</div>

    <div style="margin-bottom: 20px;">
            <button 
            pButton type="button"  
            icon="pi pi-check"
            label="Rehabilitation Mode"
            style="font-size: larger;"
            (click)="Rehabilitation()" >
            </button>
    </div>


    <div style="margin-bottom: 20px;">
            <button 
            pButton type="button"  
            icon="pi pi-check"
            label="Intense Mode"
            style="font-size: larger;"
            (click)="Intense()" >
            </button>
    </div>

