.about{
    margin: auto;
    width: 800px;
    height: 600px;
    background: #333337;
    box-shadow: 0px 10px 12px 5px #100f0f7a;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 2rem;
}