<div>
    <h1 style="text-align: center;" > {{ title }} </h1>

</div>

<div style="display: flex; gap: 20px; align-items: right; margin-bottom: 20px; margin-left: 540px;">
    <div style="margin-bottom: 20px;" >
        <input
            style="width: 100px; height: 30px; font-size: 18px; padding: 5px; text-align: center;;"
            type="number"
            [(ngModel)]="sets"
            placeholder="sets"
            min="0"
            max="10"
            
        />
        <p *ngIf="sets">You entered: {{ sets }} </p>
    </div>

    
        <div style="margin-bottom: 20px;" >
            <input
                style="width: 100px; height: 30px; font-size: 18px; padding: 5px; text-align: center;"
                type="number"
                [(ngModel)]="reps"
                placeholder="reps"
                min="0"
                max="30"
                
            />
            <p *ngIf="reps">You entered: {{ reps }} </p>
        </div>
</div>
