:host ::ng-deep svg {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

:host ::ng-deep svg text {
  fill: #000 !important;
}

:host ::ng-deep svg text.legend-pina {
  fill: #0033ff !important;
}
:host ::ng-deep svg text.legend-pinb {
  fill: orange !important;
}

.dotA {
  stroke: #003399;
  stroke-width: 2px;
}
