<p-toolbar [style]="{ 'border-radius': '3rem', 'padding': '1rem 1rem 1rem 1.5rem' }">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 2rem; margin-right: 1rem">
                <path d="..." fill="var(--p-primary-color)" />
                <mask id="mask0_1_52" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33"></mask>
            </svg>
            <p-button label="Files" text plain />
            <p-button label="Edit" text plain />
            <p-button label="View" text plain />
        </div>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-button label="Share" severity="contrast" size="small" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" [style]="{ width: '32px', height: '32px' }" />
        </div>
    </ng-template>
</p-toolbar>

<div style="padding: 0 30px;">
  <p-stepper [(activeStep)]="active" [linear]="true">
    

    <p-stepperPanel header="Menu">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
        <div class="flex flex-column h-12rem">
          <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
            
            <app-choices 
              (calibration)="active = 1"
              (exercises)="active = 2"
              style="text-align: center;">
            </app-choices>
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>

    <!-- (now index 2) Parameters Acquisition -->
    <p-stepperPanel header="Parameters Aquisition">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
        <div class="flex flex-column h-12rem">
          <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
            <app-parameter style="text-align: center;"></app-parameter>
          </div>
        </div>
            <div class="flex pt-4 justify-content-end gap-2">
            <p-button label="Back" icon="pi pi-arrow-left"
                        (onClick)="prevCallback.emit()"></p-button>
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                        (onClick)="nextCallback.emit()"></p-button>
            </div>


      </ng-template>
    </p-stepperPanel>

    
    

    <!-- (now index 3) Sensor's Data -->
    <p-stepperPanel header="Sensor's Data">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
        <div class="flex flex-column h-12rem">
          <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
            <app-calibiration-methods style="text-align: center;"></app-calibiration-methods>
          </div>
        </div>
        <div class="flex pt-4 justify-content-start">
          <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" (onClick)="active = 0" />
        </div>
      </ng-template>
    </p-stepperPanel>

  </p-stepper>
</div>

<!-- <button (click)="connect()" pButton pRipple severity="success">
    <span pButtonLabel>CONNECT</span>
</button>
<button (click)="start()" pButton pRipple severity="success">
    <span pButtonLabel>START</span>
</button>
<button (click)="tare()" pButton pRipple severity="success">
    <span pButtonLabel>TARE</span>
</button>
<app-guage [value]="testVal()"></app-guage> -->

<!-- <h1>Encoder Data</h1>
<h2>5kOhm</h2>
<app-encoder-graph [data]="graphData.get('encoder_recording_5kom.json') || []"></app-encoder-graph>
<h2>10kOhm</h2>
<app-encoder-graph [data]="graphData.get('encoder_recording_10kom.json') || []"></app-encoder-graph>
<h2>No Resistors</h2>
<app-encoder-graph [data]="graphData.get('experiment_no_resistors.json') || []"></app-encoder-graph>
<h1>Engine Data</h1>
<app-engine-graph [data]="engineData || []"></app-engine-graph> -->