img {
    transform: scale(1);
    transition: 250ms ease-in;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #333;
  margin-left: 1rem;
}
.navbar-logo-center {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar-center-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 48px; /* match menubar height */
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #fff;
  pointer-events: none; /* so it doesn't block menu clicks */
  z-index: 10;
}