<div class="home-bg"></div>
<div
  style="position: relative; z-index: 1; display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
  <div class="glass">
    <h1 class="home-title jello-horizontal">WELCOME</h1>
    <!-- <h1 class="mask1 j/ello-horizontal">WELCOME</h1> -->
  </div>
  <div class="glass ">
    <h1 class="home-title jello-horizontal">To </h1>
    <!-- <h1 class="mask1 jello-horizontal">To </h1> --></div>
    <div class="glass ">
      <h1 class="home-title jello-horizontal">CARE DEVICE</h1>
      <!-- <h1 class="mask1 jello-horizontal">CARE DEVICE</h1></div> -->
    </div>