
.home-bg {
  background: url('../../public/images/pro2.jpg') no-repeat center center fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  image-rendering: auto;
  filter: none;
}

.home-title {
  color: #fff;
  font-size: 2.5rem;
  background: rgba(0,0,0,0.5);
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 32px #000a;
}
