@import "primeng/resources/themes/aura-dark-green/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
    background: radial-gradient(circle, rgb(207 244 230 / 25%) 0%, rgb(17 30 43 / 84%) 100%);
}

.p-stepper .p-stepper-panels{

    background: #333337;
    box-shadow: 0px 10px 12px 5px #100f0f7a;
    width: 800px;
    margin: auto;
    height: 600px;
}

