@import "primeng/resources/themes/aura-dark-green/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
    background: radial-gradient(circle, rgb(207 244 230 / 25%) 0%, rgb(17 30 43 / 84%) 100%);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

